/*
 * yoyaku.calendar.css
 * 面談枠設定モジュール
 */

 .yoyaku-calendar-previousWeek, .yoyaku-calendar-back,
 .yoyaku-calendar-nextWeek,     .yoyaku-calendar-notice,
 .yoyaku-calendar-main,         .yoyaku-calendar-update
 {
   position: absolute;
 }

.yoyaku-calendar-previousWeek {
  top : 10px;
  left : 10px;
  width : 150px;
  height : 40px;
  font-size: 25px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #E6E6FA;
}
.yoyaku-calendar-previousWeek:hover{
  background-color: red;
}

.yoyaku-calendar-back {
  top : 10px;
  left : 180px;
  width : 150px;
  height : 40px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #E6E6FA;
}
.yoyaku-calendar-back:hover{
  background-color: red;
}

.yoyaku-calendar-nextWeek {
  top : 10px;
  left : 350px;
  width : 150px;
  height : 40px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #E6E6FA;
}
.yoyaku-calendar-nextWeek:hover{
  background-color: red;
}

.yoyaku-calendar-notice {
  top : 120px;
  left: 10px;
}

.yoyaku-calendar-main {
  top    : 150px;
  left   : 10px;
  border-collapse:collapse;
  background : #DFC0E0;
}

.yoyaku-calendar-main th, .yoyaku-calendar-main tr, .yoyaku-calendar-main td {
  font-size: 20px;
  border : 1px solid black;
}

.yoyaku-calendar-update {
  top : 10px;
  left : 600px;
  width : 90px;
  height : 40px;
  font-size: 25px;
  border-radius: 8px;
  background-color: #E6E6FA;
  cursor: pointer;
}
.yoyaku-calendar-update:hover{
  background-color: red;
}


.yoyaku-calendar-edi {
  background : #FE7575;
}

.yoyaku-calendar-edimemo {
  background : #FFF;
}
