/*
 * yoyaku.calendar.css
 * 面談枠設定モジュール
 */

 .yoyaku-calendar-notice,
 .yoyaku-calendar-main,         .yoyaku-calendar-update
 {
   position: absolute;
 }

.yoyaku-calendar-notice {
  top : 10px;
  left: 10px;
}

.yoyaku-calendar-main {
  top    : 60px;
  left   : 10px;
  width  : 360px;
  table-layout: fixed;
  border-collapse:collapse;
  background : #F5F5DC;
}

.yoyaku-calendar-main th, .yoyaku-calendar-main tr, .yoyaku-calendar-main td {
  font-size: 20px;
  border : 1px solid black;
}

.yoyaku-calendar-update {
  top : 10px;
  left : 600px;
  width : 90px;
  height : 40px;
  font-size: 25px;
  border-radius: 8px;
  background-color: #E6E6FA;
  cursor: pointer;
}
.yoyaku-calendar-update:hover{
  background-color: red;
}


.yoyaku-calendar-edi {
  background : #ffb6c1;
}

.yoyaku-calendar-edimemo {
  background : #FFF;
}
